
.f-color-red{color: red;}
ol > li{list-style: decimal;}

.info-box > h1{padding: 8px;text-align: center;font-size: 16px;color: #007dac;}

.ask{padding-left: 8px;border-bottom: 1px solid #e1e1e1;}
.ask-tt{padding-top: 4px;padding-bottom: 4px;}
.ask-ct{padding-top: 4px;padding-bottom: 4px;}

.answer{padding-left: 8px;margin-top: 10px;}
.answer .item-hd{padding-bottom: 6px; padding-top: 8px; font-size: 14px;}
.answer .item-ct{line-height: 1.6em; margin-left: 30px; font-size: 14px;}

