@charset "utf-8";
ul,li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	max-width: 640px;
	min-width: 320px;
	padding: 0;
	padding-bottom: 65px;
}
header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #0b65c1;
	text-align: center;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
}
.kf {
	float: right;
	width: 21px;
	height: 22px;
	margin: 14px 13px 0 0;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: 0 0;
	a {
		display: block;
		text-indent: -9999px;
		line-height: 36px;
	}
}
.back {
	width: 10px;
	height: 16px;
	float: left;
	margin: 17px 0 0 13px;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: -21px 0;
	text-indent: -9999px;
	a {
		display: block
	}
}
.login {
	width: 100%;
	overflow: hidden;
	padding-top: 32px;
}
.form-div {
	width: 100%;
	background: $bgf5f5f6;
	padding: 13px 0;
	display: block;
	overflow: hidden;
	position: relative;
	input {
		height: 24px;
		line-height: 20px;
		border: none;
		width: 220px;
		background: $bgf5f5f6;
	}
	i {
		width: 17px;
		height: 24px;
		margin: 0 15px;
		display: inline-block;
		background-image: image-url('icon.png');
		-webkit-background-size: $bg-size;
		background-size: $bg-size;
		vertical-align: middle;
	}
	em {
		width: 30px;
		height: 24px;
		margin: 0 10px;
		display: inline-block;
		font-weight: normal;
		font-style: normal;
		line-height: 20px;
		vertical-align: middle;
		color: #808081;
	}
	span {
		position: absolute;
		right: 14px;
		top: 0;
		line-height: 50px;
	}
}
.i-user {
	background-position: -31px 0
}
.i-psd {
	background-position: -48px 0
}
.btn-login {
	border: 0;
	line-height: 50px;
	color: #3599ed;
	font-size: 16px;
	background: #f5f5f6;
	padding: 0;
}
.reg {
	padding: 20px 0 0 20px;
	font-size: 14px;
	a {
		color: #c7c8c8;
	}
}
.form-up {
	border-bottom: 1px solid #bababa;
	margin-top: 32px;
}
.treaty {
	@extend .reg;
	padding-bottom: 30px;
	a {
		color: #3599ed;
	}
}
.p15 {
	padding-left: 15px;
}
.u-info {
	background: #e6e0d5;
	padding: 10px;
	overflow: hidden;
	border-top: 1px solid #ababab;
	border-bottom: 1px solid #d6cfc6;
}
.u-info-img {
	float: left;
	margin-right: 10px;
	padding: 5px;
	border: 1px solid #eae6e1;
	@include border-radius(35px);
	background: #fff;
	img {
		width: 50px;
		height: 50px;
		@include border-radius(25px);
	}
}
.u-info-txt {
	padding-top: 5px;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	span {
		color: #666;
		font-size: 12px;
	}
}
.level {
	width: 12px;
	height: 12px;
	background-position: -117px -93px;
	display: inline-block;
}
.s-ewm {
	float: right;
	img {
		max-width: 25px;
		padding-right: 5px;
	}
	padding-top: 10px;
}
.s-pwd {
	float: right;
	margin-top: 15px;
}
.a-pwd {
	@include border-radius(5px);
	background: #ec5330;
	padding: 0 5px;
	line-height: 18px;
	color: #fff;
	display: inline-block;
}
.r-arrow {
	width: 9px;
	height: 13px;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: -64px 0;
	display: inline-block;
	vertical-align: middle;
}
.r-arrow-big {
	@extend .r-arrow;
	width: 12px;
	height: 21px;
	background-position: -117px -105px;
}
.task-info {
	width: 100%;
	overflow: hidden;
	background: #f6f6f6;
	border-top: 1px solid #fff;
	margin-bottom: 14px;
}
.task-info-l,.task-info-r {
	float: left;
	width: 50%;
	padding: 10px 0;
	border-bottom: 1px solid #d2d2d2;
}
.task-info-l {
	background: url("/images/bg02.png") right repeat-y;
}
.icon-dfk,.icon-dqr {
	width: 38px;
	height: 38px;
	display: inline-block;
	background-position: -162px -78px;
	margin: 0 15px;
	float: left;
}
.icon-dqr {
	background-position: -162px -116px;
}
.task-txt,.task-count {
	display: block;
	color: #777;
}
.task-count {
	padding-left: 96px;
	a {
		color: #777;
	}
}
.tool {
	width: 100%;
	overflow: hidden;
	background: #fff;
	margin-bottom: 20px;
	ul {
		padding-left: 15px;
		overflow: hidden;
		li {
			line-height: 42px;
			border-bottom: 1px solid #d9d9d9;
			float: left;
			width: 100%;
			a {
				display: block;
				color: #000
			}
			em {
				width: 16px;
				height: 16px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 14px;
			}
			&:last-child {
				border-bottom: none;
			}
			span {
				float: right;
				display: inline-block;
				vertical-align: middle;
			}
			span.span-red {
				@include border-radius(5px);
				padding: 0 5px;
				color: #fff;
				line-height: 20px;
				background: #e85237;
				margin: 12px 10px 0 0;
			}
			span.span-gray {
				color: #cccccc;
				margin-right: 10px;
			}
		}
	}
}
.tool-r {
	float: right;
	margin: 16px 15px 0 0;
}
.finance {
	background-position: 0 -25px;
	margin-right: 15px
}
.task {
	margin-right: 15px;
	background-position: -23px -25px;
}
.money {
	margin-right: 15px;
	background-position: -46px -25px;
}
.popularize {
	background-position: -69px -25px;
	margin: 0 15px;
}
.setting {
	background-position: -92px -25px;
	margin: 0 15px;
}
.tool-icon1 {
	background-position: 0 -184px;
}
.tool-icon2 {
	background-position: -16px -184px;
}
.tool-icon3 {
	background-position: -32px -184px;
}
.tool-icon4 {
	background-position: -48px -184px;
}
.tool-icon5 {
	background-position: -64px -184px;
}
.tool-icon6 {
	background-position: -80px -184px;
}
.btn-sbar {
	width: 22px;
	height: 18px;
	float: left;
	margin: 12px 0 0 13px;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: -73px 0;
	text-indent: -9999px;
	a {
		display: block
	}
}
.btn-sbar-on {
	@extend .btn-sbar;
	background-position: -95px 0;
}
.nav-money {
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #ababac;
	ul {
		padding: 0 10px;
		overflow: hidden;
		background: #f5f5f6;
		li {
			width: 20%;
			text-align: center;
			line-height: 44px;
			float: left;
			a {
				color: #000;
				width: 100%;
				display: block;
				font-size: 16px;
				&:hover {
					color: #0899d6;
				}
			}
			a.active {
				color: #0899d6;
				background-image: image-url('bg01.png');
				background-repeat: repeat-x;
				background-position: 0 bottom;
			}
		}
	}
}
.brief {
	line-height: 40px;
	padding-left: 10px;
	background: #f0f0f6;
	color: #8e8e93;
}
.money-list {
	width: 100%;
	overflow: hidden;
	background: #fff;
	ul {
		padding-left: 10px;
		overflow: hidden;
		li {
			float: left;
			border-bottom: 1px solid #d9d9d9;
			padding: 10px 0;
			position: relative;
			width: 100%;
			span {
				display: block;
				font-size: 14px;
				color: #000;
			}
			em {
				font-style: normal;
				color: #a3a3a3;
				font-size: 12px;
			}
		}
	}
}
.show-money {
	position: absolute;
	right: 16px;
	top: 10px;
	font-style: normal;
}
i.current {
	color: #00be00;
}
.withdraw {
	padding-left: 10px;
	color: #000;
	font-size: 14px;
	line-height: 40px;
	background: #fff;
	span {
		float: right;
		margin-right: 10px;
	}
}
.nav-task {
	@extend .nav-money;
	ul {
		li {
			width: 25%;
		}
	}
}
.task-list {
	width: 100%;
	overflow: hidden;
}
.task-item {
	margin-bottom: 3px;
	position: relative;
	overflow: hidden;
	height: 105px;
	background: #f5f6f6;
}
.task-item-pic {
	width: 85px;
	height: 85px;
	left: 14px;
	top: 15px;
	position: absolute;
	img {
		max-width: 100%;
	}
}
.task-item-cnt {
	position: absolute;
	right: 7px;
	left: 105px;
	top: 15px;
}
.task-item-top,.task-item-mid,.task-item-bot {
	width: 100%;
	overflow: hidden;
}
.task-item-top {
	border-bottom: 1px solid #e5e4e4;
	line-height: 26px;
}
.task-item-top-r {
	float: right;
	color: #bab7b8
}
.task-user {
	float: left;
}
.icon-tb {
	width: 15px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: -117px 0;
	margin: 0 5px;
}
.task-item-mid {
	overflow: hidden;
	padding-top: 10px;
	color: #0899d6;
	vertical-align: middle;
}
.task-item-mid-r {
	float: right;
	@include border-radius(5px);
	background: #0899d6;
	padding: 0 5px;
}
.task-item-mid span a {
	color: #fff;
}
.task-item-bot-r {
	float: right;
}
.task-item-bot {
	color: #9da1a6;
	line-height: 30px;
}
.make-money {
	@extend .tool;
	ul {
		li {
			padding: 21px 0;
			color: #6b6b6b;
			font-size: 16px;
			em {
				width: 37px;
				height: 37px;
			}
		}
	}
}
.icon-taobao,.icon-big-taobao,.icon-tel,.icon-mls,.icon-cat,.icon-special,.level-star,.five,.ten,.twenty,.icon-set-arrow,.icon-attention,.message,.level,.r-arrow-big,.icon-dfk,.icon-dqr,.tool-icon1,.tool-icon2,.tool-icon3,.tool-icon4,.tool-icon5,.tool-icon6,.tool-icon7,.tool-icon8,.tool-icon9,.tool-icon10,.icon-phone,.icon-stb,.icon-house,.icon-point,.icon-proceeding,.icon-ewyq,.icon-rwbz {
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
}
.icon-taobao,.icon-tel,.icon-mls,.icon-cat,.icon-special {
	margin: 0 15px 0 5px;
}
.icon-taobao {
	background-position: 0 -56px;
}
.icon-tel {
	background-position: -37px -56px;
}
.icon-mls {
	background-position: -74px -56px;
}
.icon-cat {
	background-position: -111px -56px;
}
.icon-special {
	background-position: 0 -93px;
}
.icon-big-taobao {
	width: 80px;
	height: 72px;
	vertical-align: middle;
	background-position: -37px -93px;
	margin: 25px 30px;
	display: inline-block;
	float: left;
}
.order-list,.order-item {
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.order-item {
	position: relative;
	border-bottom: 1px solid #cecece;
}
.order-cnt {
	float: left;
	padding: 10px 0;
	color: #999;
	line-height: 24px;
}
.level-star {
	display: inline-block;
	width: 8px;
	height: 7px;
	vertical-align: middle;
	background-position: -137px 0;
	margin-right: 3px;
}
.yj {
	font-size: 20px;
	color: #fd343a;
	font-weight: bold;
	display: block;
	em {
		font-style: normal;
		font-size: 12px;
	}
}
.qd {
	border:1px solid #ff1c32;
	@include border-radius(5px);
	display: block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: #ff1c32;
}
.last {
	line-height: 18px;
	text-align: center;
	display: block;
	background: #fff;
	color: #000;
	padding: 0 10px;
	@include border-top-radius(5px);
}
.action {
	line-height: 26px;
	text-align: center;
	display: block;
	color: #fff;
}
.popu-count {
	line-height: 60px;
	background: #f5f5f6;
	padding: 0 16px;
	margin-bottom: 10px;
}
.r {
	float: right;
	i {
		color: #000;
		font-style: normal;
	}
}
.popu-list {
	background: #f5f5f6;
	padding: 15px 16px;
	overflow: hidden;
	h2 {
		font-weight: normal;
		font-size: 20px;
		color: #353636;
		margin: 0;
		span {
			font-size: 14px;
			color: #b3b4b5;
		}
	}
}
.popu-l {
	border: 1px solid #007aff;
	width: 50%;
	@include border-left-radius(5px);
	text-align: center;
	line-height: 30px;
	float: left;
	a {
		color: #007aff;
	}
}
.popu-r {
	border: 1px solid #007aff;
	border-left: none;
	width: 50%;
	@include border-right-radius(5px);
	text-align: center;
	line-height: 30px;
	float: left;
	margin-left: -1px;
	a {
		color: #007aff;
	}
}
.mt10 {
	margin-top: 10px;
}
.invite {
	width: 100%;
	overflow: hidden;
	background: #f4f4f3;
	h2 {
		text-align: center;
		padding: 12px;
		img {
			width: 100%;
			max-width: 596px;
		}
	}
	h3 {
		padding: 0 18px;
		margin: 0;
		font-size: 18px;
		color: #874305;
	}
}
.invite-cnt {
	overflow: hidden;
	padding: 0 18px;
	position: relative;
	padding-left: 50px;
	margin: 5px 0;
	min-height: 26px;
	color: #b1afac;
	display: table;
}
.invite-cnt-child {
	display: table-cell;
	vertical-align: middle;
}
.five,.ten,.twenty {
	width: 30px;
	height: 26px;
	vertical-align: middle;
	position: absolute;
	left: 18px;
	top: 50%;
	margin-top: -13px;
}
.five {
	background-position: -170px 0;
}
.ten {
	background-position: -170px -26px;
}
.twenty {
	background-position: -170px -52px;
}
.share-btn {
	padding: 10px 12px;
	line-height: 35px;
	background: #f4f4f3;
	a {
		color: #fff;
		background: #25a2dc;
		@include border-radius(5px);
		text-align: center;
		font-size: 20px;
		display: block;
	}
}
.u-set {
	padding-left: 15px;
	background: #f4f4f3;
	overflow: hidden;
	border-top: 1px solid #c8c7cc;
	border-bottom: 1px solid #c8c7cc;
	margin-bottom: 20px;
	font-size: 16px;
}
.head {
	line-height: 84px;
	border-bottom: 1px solid #c8c7cc;
}
.u-head {
	padding-left: 8px;
}
.u-head-img {
	float: right;
	margin-right: 20px;
	color: #c1c2c2;
	img {
		width: 100%;
		max-width: 66px;
		padding-right: 6px;
	}
}
.icon-set-arrow {
	width: 6px;
	height: 10px;
	background-position: -64px -13px;
	display: inline-block;
	vertical-align: middle;
}
.u-body {
	border-bottom: 1px solid #c8c7cc;
	overflow: hidden;
	a {
		color: #c1c2c2;
	}
}
.u-body-txt {
	line-height: 50px;
	padding-left: 8px;
	color: #000
}
.u-body-r {
	line-height: 50px;
	float: right;
	margin-right: 38px;
	color: #c1c2c2;
	a {
	color: #c1c2c2;
	}
}
.u-body-r-a {
	@extend .u-body-r;
	margin-right: 20px;
	span {
		padding-right: 8px;
	}
}
.mb20 {
	margin-bottom: 20px;
}
.bdbn {
	border-bottom: none;
}
.u-body-r-1 {
	@extend .u-body-r;
	line-height: 30px;
}
.u-body-txt-1 {
	line-height: 30px;
	padding-left: 8px;
}
.p10 {
	padding: 10px 0;
}
.u-body-cnt {
	color: #b9baba;
	padding-left: 8px;
}
.txt1 {
	font-style: normal;
	font-size: 14px;
	color: #969798;
}
.c75b8f0 {
	color: #75b8f0;
}
.award {
	text-align: center;
	background: #fdfefe;
	a {
		display: block;
		width: 100%;
		line-height: 50px;
		color: #e4e3e3;
		font-size: 18px;
	}
}
.check-info {
	width: 100%;
	overflow: hidden;
	h2 {
		font-size: 20px;
		color: #636363;
		padding: 0 20px;
		font-weight: normal;
	}
	h3 {
		color: #808080;
		padding: 0 20px;
		font-size: 14px;
		font-weight: normal;
	}
}
.input-name {
	padding: 0 30px;
	background: #fff;
	overflow: hidden;
}
.ipt-un {
	line-height: 50px;
	vertical-align: middle;
	border: 0;
	width: 100%;
}
.up-pic {
	width: 100%;
	overflow: hidden;
	color: #d1d2d2;
	padding-left: 20px;
	a {
		display: block;
		width: 80px;
		line-height: 80px;
		text-align: center;
		background: #eeeff0;
		color: #d1d2d2;
		font-size: 60px;
	}
	span {
		width: 80px;
		text-align: center;
		display: block;
		line-height: 30px;
		font-size: 16px;
		color: #bebebe;
	}
}
.bdbe2e1e0 {
	border-bottom: 1px solid #e2e1e0;
}
.select-bank {
	width: 100%;
	line-height: 30px;
	height: 30px;
	margin: 10px 0;
	border: none;
}
.icon-no-user {
	width: 247px;
	height: 273px;
	position: absolute;
	background-image: image-url('imgp7.png');
	-webkit-background-size: 247px 273px;
	background-size: 247px 273px;
	left: 50%;
	top: 50%;
	margin-left: -124px;
	margin-top: -135px;
}
.add-user {
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
	a {
		width: 100%;
		line-height: 50px;
		display: block;
		font-size: 18px;
		background: #fff;
	}
}
.check-txt {
	padding: 8px;
	background: #e2e1e0;
	h3 {
		font-weight: normal;
		line-height: 30px;
		background: #d7d7d6;
		padding: 0;
	}
	p {
		padding-left: 8px;
	}
}
.icon-attention {
	width: 14px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 8px;
	background-position: -137px -8px;
	color: #353636;
}
.message {
	@extend .kf;
	width: 18px;
	height: 21px;
	background-position: -137px -21px;
}
footer {
	position: fixed;
	height: 65px;
	border-top: 1px solid #cecece;
	background: #fff;
	left: 0;
	bottom: 0;
	width: 100%;
	opacity: 0.8;
	div {
		width: 24%;
		display: inline-block;
		text-align: center;
		padding-top: 10px;
		em {
			width: 23px;
			height: 23px;
			display: inline-block;
		}
		a {
			color: #777;
		}
	}
}
.tool-icon7 {
	background-position: -96px -177px;
}
.tool-icon8 {
	background-position: -119px -177px;
}
.tool-icon9 {
	background-position: -142px -177px;
}
.tool-icon10 {
	background-position: -165px -177px;
}
.target-product {
	background: #e9ebeb;
	position: relative;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #b8b9bc;
	padding-bottom: 10px;
	h2 {
		font-size: 18px;
		color: #adaeaf;
		margin: 0;
		padding: 10px 0 0 16px;
		font-weight: normal;
	}
}
.icon-phone {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	display: inline-block;
	background-position: 0 -130px;
	margin: -3px 5px 0 5px;
}
.f109cdf {
	color: #109cdf;
}
.click-tel {
	font-size: 16px;
	color: #459fc9;
	position: absolute;
	top: 20px;
	right: 15px;
	a {
		color: #459fc9;
	}
}
.task-status {
	width: 100%;
	overflow: hidden;
	background: #f5f5f6;
	border-bottom: 1px solid #b8b9bc;
	h2 {
		font-weight: normal;
		font-size: 18px;
		color: #333232;
		padding-left: 14px;
	}
	h3 {
		color: #ff5054;
		font-weight: normal;
		font-size: 14px;
		padding-left: 14px;
	}
	p {
		color: #33a9dc;
		padding: 0 14px;
		font-size: 16px;
	}
}
.icon-stb {
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-position: 0 -150px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}
.task-action {
	padding: 0 14px;
	overflow: hidden;
	height: 45px;
	position: relative;
	a {
		display: block;
		position: absolute;
		top: 0;
		line-height: 30px;
		width: 76px;
		@include border-radius(5px);
		background: #2fafe4;
		color: #fff;
		font-size: 16px;
		text-align: center;
	}
}
.pos-a1 {
	left: 14px;
}
.pos-a2 {
	left: 50%;
	margin-left: -38px;
}
.pos-a3 {
	right: 14px;
}
.task-process {
	background: #f5f5f6;
	padding: 18px 10px 0 14px;
}
.task-process-item {
	background-image: image-url("bgtaskprocess.png");
	background-repeat: repeat-y;
	background-position: 9px 0;
	overflow: hidden;
}
.task-process-item-num {
	position: relative;
	height: 24px;
	h2 {
		background: #e9ebeb;
		color: #626161;
		margin: 0;
		line-height: 22px;
		padding: 0 0 0 32px;
		font-size: 16px;
		font-weight: normal;
		span {
			font-size: 12px;
		}
	}
	em {
		position: absolute;
		left: 0;
		top: 0;
		width: 28px;
		height: 24px;
		background: #f5f5f6;
	}
	i {
		width: 24px;
		line-height: 24px;
		@include border-radius(5px);
		text-align: center;
		font-family: verdana;
		font-style: normal;
		display: block;
		color: #fff;
	}
}
.task-process-item-cnt {
	margin-bottom: 18px;
	overflow: hidden;
	padding-left: 24px;
	ul {
		overflow: hidden;
		width: 100%;
		li {
			float: left;
			width: 100%;
			padding-left: 8px;
			border-bottom: 1px solid #e5e4e4;
			line-height: 38px;
			font-size: 14px;
			color: #b6b7b9;
		}
	}
}
.num-current {
	background: #2fafe4;
}
.num-normal {
	background: #c6c8c8;
}
.in-item-cnt {
	padding: 15px 0;
	overflow: hidden;
}
.r-pic-list {
	float: right;
	img {
		float: right;
		max-width: 45px;
		margin-left: 8px;
	}
}
.l-txt {
	float: left;
	font-size: 14px;
	color: #babbbc;
	padding-left: 8px;
}
.bdbe5e4e4 {
	border-bottom: 1px solid #e5e4e4;
}
.instruction {
	float:right;
	clear:both;
	font-size: 14px;
	color: #babbbc;
	padding-top: 15px;
	a {
		background: #d1d1d1;
		@include border-radius(5px);
		color: #fff;
		display: inline-block;
		padding: 5px 10px;
		margin-left: 5px;
	}
}
.cff5054 {
	color: #ff5054;
}
.user-info {
	line-height: 52px;
	border-bottom: 1px solid #cccbcb;
	color: #cccbcb;
	background: #fdfefe;
	position: relative;
}
.residue {
	position: absolute;
	right: 18px;
	a {
		color: #0899d6;
	}
}
.icon-house {
	width: 14px;
	height: 14px;
	background-position: -20px -130px;
	margin: -3px 3px 0 14px;
	vertical-align: middle;
	display: inline-block;
}
.user-money {
	border-bottom: 2px solid #efeff4;
	color: #0899d6;
	position: relative;
	background: #fdfefe;
	height: 68px;
	line-height: 68px;
	padding-left: 10px;
	a {
		position: absolute;
		right: 14px;
		top: 14px;
		border: 1px solid #0899d6;
		@include border-radius(5px);
		display: block;
		color: #0899d6;
		padding: 0 5px;
		line-height: 24px;
	}
	em {
		font-style: normal;
		font-size: 20px;
	}
}
.user-txt {
	border-bottom: 1px solid #e2e1e0;
	text-align: center;
	line-height: 44px;
	background: #fdfefe;
	a {
		color: #0899d6
	}
}
.task-main-point {
	width: 100%;
	overflow: hidden;
	background: #efeff4;
	h2 {
		margin: 0;
		padding: 0 0 0 17px;
		line-height: 26px;
		background: #d7d7d6;
		font-weight: normal;
		font-size: 16px;
	}
	ul {
		padding: 0 5px 0 7px;
		overflow: hidden;
		li {
			border-bottom: 1px solid #b8b9bc;
			padding-left: 10px;
			width: 100%;
			float: left;
			font-size: 16px;
			color: #a4a5a6;
			line-height: 46px;
			span {
				float: right;
				color: #21a2d9;
				padding-right: 5px;
			}
		}
	}
}
.icon-point {
	width: 13px;
	height: 15px;
	background-position: -129px -93px;
	display: inline-block;
	margin-right: 5px;
	margin-top: -3px;
	vertical-align: middle;
}
.icon-proceeding {
	width: 15px;
	height: 13px;
	background-position: -129px -108px;
	display: inline-block;
	margin-right: 5px;
	margin-top: -3px;
	vertical-align: middle;
}
.mt24 {
	margin-top: 24px;
}
.task-proceeding {
	@extend .task-main-point;
	overflow: hidden;
	ul {
		padding-top: 20px;
		padding-bottom: 20px;
		li {
			border-bottom: none;
			line-height: 24px;
			i {
				width: 6px;
				height: 6px;
				background: #a4a5a6;
				@include border-radius(3px);
				display: inline-block;
				margin-right: 5px;
				vertical-align: top;
				margin-top: 8px;
			}
		}
	}
}
.shop-name {
	line-height: 44px;
	padding-left: 14px;
	border-bottom: 1px solid #e5e4e4;
	background: #e2e1e0;
	color: #909294;
	font-size: 16px;
	a {
		display: inline-block;
		margin-left: 26px;
		color: #0899d6;
		font-size: 14px;
	}
}
.target-pro {
	padding: 0 14px;
	overflow: hidden;
	background: #e2e1e0;
	position: relative;
	color: #838587;
	h2 {
		padding: 10px 0 5px 0;
		margin: 0;
		font-weight: normal;
		line-height: 30px;
		font-size: 16px;
		font-style: normal;
	}
}
.target-pro-l {
	position: absolute;
	left: 14px;
	top: 45px;
	width: 100px;
	img {
		max-width: 100px;
	}
}
.target-pro-r {
	padding-left: 110px;
	h3 {
		padding: 0;
		margin: 0;
		font-weight: normal;
		height: 48px;
		overflow: hidden;
	}
	em {
		font-style: normal;
		color: #0899d6;
	}
}
.open-tb {
	text-align: right;
	line-height: 20px;
	margin-bottom: 10px;
	a {
		line-height: 20px;
		background: #f3972b;
		@include border-radius(5px);
		padding: 0 5px;
		color: #fff;
	}
	
}
.m20 {
	margin: 20px 0;
}
.icon-ewyq {
	@extend .icon-point;
	background-position: -142px -93px;
}
.icon-rwbz {
	@extend .icon-point;
	width: 15px;
	height: 15px;
	background-position: -129px -121px;
}
.step {
	color: #608dc3;
	font-size: 18px;
	padding: 10px 0 0 15px;
	a {
		float: right;
		margin-right: 20px;
		color: #f08511;
	}	
}
.pic-list {
	width: 100%;
	overflow: hidden;
	div {
		width: 33.333333%;
		float: left;
		line-height: 36px;
		text-align: center;
		a {
			color: #828486;
		}
		img {
			max-width: 90%;
		}
	}
}
.step-intro {
	background: #fff;
	line-height: 56px;
	font-size: 16px;
	color: #007aff;
	text-align: center;
}
.real-pay {
	font-size: 14px;
	color: #000;
}
.bind-tb {
	background: #fefefe;
	overflow: hidden;
	padding: 10px 12px 10px 20px;
	p {
		clear: both;
		color: #bbb;
		padding-top: 10px;
	}
}
.jt-img {
	float: right;
	a {
		color: #f75167;
		font-size: 16px;
	}
}
.txmx {
	text-align: right;
	font-size: 14px;
	padding: 10px 12px 10px 0;
	a {
		color: #69696a;
		text-decoration: underline;
	}
}
#tx-info {
	text-align: center;
	font-size: 16px;
	color: #555;
	padding: 0;
	margin: 0;
}
.bank {
	text-align: center;
	line-height: 56px;
	background: #fff;
	margin-bottom: 10px;
	color: #8b8d8d;
}