@charset "utf-8";
ul,li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.container {
	max-width: 640px;
	min-width: 320px;
	padding: 0;
}
header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #0b65c1;
	text-align: center;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
}
.kf {
	float: right;
	width: 21px;
	height: 22px;
	margin: 14px 13px 0 0;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: 0 0;
	a {
		display: block;
		text-indent: -9999px;
		line-height: 36px;
	}
}
.back {
	width: 10px;
	height: 16px;
	float: left;
	margin: 17px 0 0 13px;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: -21px 0;
	text-indent: -9999px;
	a {
		display: block
	}
}
.login {
	width: 100%;
	overflow: hidden;
	padding-top: 32px;
}
.form-div {
	width: 100%;
	background: $bgf5f5f6;
	padding: 13px 0;
	display: block;
	overflow: hidden;
	position: relative;
	input {
		height: 24px;
		line-height: 20px;
		border: none;
		width: 220px;
		background: $bgf5f5f6;
	}
	i {
		width: 17px;
		height: 24px;
		margin: 0 15px;
		display: inline-block;
		background-image: image-url('icon.png');
		-webkit-background-size: $bg-size;
		background-size: $bg-size;
		vertical-align: middle;
	}
	em {
		width: 30px;
		height: 24px;
		margin: 0 10px;
		display: inline-block;
		font-weight: normal;
		font-style: normal;
		line-height: 20px;
		vertical-align: middle;
		color: #808081;
	}
	span {
		position: absolute;
		right: 14px;
		top: 0;
		line-height: 50px;
	}
}
.i-user {
	background-position: -31px 0
}
.i-psd {
	background-position: -48px 0
}
.btn-login {
	border: 0;
	line-height: 50px;
	color: #3599ed;
	font-size: 16px;
	background: #f5f5f6;
	padding: 0;
}
.reg {
	padding: 20px 0 0 20px;
	font-size: 14px;
	a {
		color: #c7c8c8;
	}
}
.form-up {
	border-bottom: 1px solid #bababa;
	margin-top: 32px;
}
.treaty {
	@extend .reg;
	padding-bottom: 30px;
	a {
		color: #3599ed;
	}
}
.p15 {
	padding-left: 15px;
}
.u-info {
	background: #fff;
	margin: 15px 0;
	padding: 10px;
	overflow: hidden;
}
.u-info-img {
	float: left;
	width: 65px;
	margin-right: 10px;
	img {
		max-width: 65px;
	}
}
.u-info-txt {
	padding-top: 5px;
	font-size: 14px;
	line-height: 24px;
	span {
		font-size: 12px;
	}
}
.s-ewm {
	float: right;
	img {
		max-width: 25px;
		padding-right: 5px;
	}
	padding-top: 10px;
}
.r-arrow {
	width: 9px;
	height: 13px;
	background-image: image-url('icon.png');
	-webkit-background-size: $bg-size;
	background-size: $bg-size;
	background-position: -64px 0;
	display: inline-block;
	vertical-align: middle;
}
.tool {
	width: 100%;
	overflow: hidden;
	background: #fff;
	margin-bottom: 20px;
	ul {
		padding-left: 15px;
		overflow: hidden;
		li {
			line-height: 42px;
			border-bottom: 1px solid #d9d9d9;
			float: left;
			width: 100%;
			a {
				display: block;
				color: #000
			}
			em {
				width: 23px;
				height: 23px;
				background-image: image-url('icon.png');
				-webkit-background-size: $bg-size;
				background-size: $bg-size;
				display: inline-block;
				vertical-align: middle;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
}
.tool-r {
	float: right;
	margin: 14px 15px 0 0;
}
.finance {
	background-position: 0 -25px;
	margin-right: 15px
}
.task {
	margin-right: 15px;
	background-position: -23px -25px;
}
.money {
	margin-right: 15px;
	background-position: -46px -25px;
}
.popularize {
	background-position: -69px -25px;
	margin: 0 15px;
}
.setting {
	background-position: -92px -25px;
	margin: 0 15px;
}